* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-container {
  max-width: 1200px;
  margin: 0 auto;
}

ul,
ol,
li,
menu {
  list-style-type: none;
}

a {
  color: currentColor;
  text-decoration: none;
}